body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

#map {
  height: 90vh;
  width: 100%;
}

.leaflet-tooltip {
  font-size: 14px;
}

.legend {
  background: white;
  padding: 8px;
  line-height: 18px;
  color: #333;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.8;
}
